.wrapper_chat{
    margin-top: 0px;
    max-width: 600px;
    padding: 0px 20px 20px;
    background-color: var(--chat-color);
}


.messages{
    position: relative;
    height: 75vh;
    overflow-y: auto;
}

.date-send{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: var(--text-color);
}

.date-send:first-child{
    margin-top: 0px;
}

.send-message{
    display: grid;
    grid-template-columns: 7fr 1fr;
    gap: 20px;
}

